body{
    background-image: url('../img/fondo6.jpg');
    background-repeat: no-repeat;
    background-size: cover; /*para que se adecue al tamaño total del navegador*/
    background-attachment: fixed;/*posicionar imagen en un solo lugar*/
    background-position: center;
}

.formulario1{
    max-width: 25em;
    padding: 1.3em;
    margin: auto;
    background-color: rgba(3, 21, 117);
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(0,0,0,0.85);
}

.caja {
    display: inline-block;
    padding: 10px;
    
 }
 #texto {
    
    font-size: 2em;
    text-align:center;
    font-family: 'Gajraj One', cursive;
    font-family: 'Secular One', sans-serif;
    box-shadow: inset 1px 1px 22px 4px rgba(0,0,0,0.85);
    display: inline-block;
    color: white;
}
